.menubar {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100vw;
  background-color: whitesmoke;
  height: 7.5vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.brand {
  margin-left: 2rem;
  font-size: 1.5rem;
  font-weight: 100;
}

.menu-items {
  display: flex;
  flex-direction: row;
  margin-left: 1.25rem;
}
.menu-item {
  flex-direction: row;
  margin-right: 1rem;
}

.menu-link {
  transition: 250ms ease-in-out;
  cursor: pointer;
}

.menu-link:hover {
  opacity: 0.5;
}

.wtf {
  border: 1px black solid;
}