.slider {
  z-index: 10;
  height: 85vh;
  width: 100vw;
}

@media only screen and (max-height: 400px) {
  .slider {
    height: 50vh;
  }
}

.slider-arrow {
  height: 84vh;
  width: 7.5vw;
  opacity: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-arrow {
  float: left;
}

.right-arrow {
  float: right;
}

.arrow-icon {
  transition: 400ms ease-in-out;
}

.arrow-icon:hover {
  cursor: pointer;
  opacity: 0.3;
}
